
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    min-height: 90vh;
    background-color: #c0d6ff;
    background: linear-gradient(to right, #e2e2e2, #60376b);
}

.header {
    display: flex; 
    background: #ffffff;
    justify-content: flex-end; 
    align-items: center;
    width: 100%;
    height: 3rem; 
    padding: 0 1.5rem; 
    position: fixed; 
    top: 0;
    /* z-index: 1000;  */
}

.user-account {
    display: flex;
    align-items: center;
    color: #ffffff;
}

.user-account .user-profile {
    display: flex;
    align-items: center;
    color: #176B87;
}

.user-account img{
    width: 30px;
    border-radius: 50%;
}

.user-account h3 {
    font-size: 0.7rem;
    font-weight: 500;
}

.user-detail {
    margin-left: 10px;
    white-space: nowrap;
}

.user-account span{
    font-size: 0.5rem;
    font-weight: 500;
    display: block;
    margin-top: 0;
}

.sidebar:hover .user-account{
    background: #ffffff2d;
    border-radius: 4px;
}

.sidebar-header img {
    width: 42px;
    border-radius: 50%;
}
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 85px;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    background:#42224A;
    padding: 25px 20px;
    transition: all 0.4s ease;
}

.sidebar:hover{
    width: 260px;
}

.sidebar-header {
    display: flex;
    align-items: center;
}

.sidebar-header h3{
    font-size: 0.9rem;
    font-weight: 700;
    color: #fff;
    margin-left: 23px;
}

.sidebar-links {
    list-style: none;
    margin-top: 20px;
    height: 70%;
    overflow-y: auto;
    scrollbar-width: none;
}

.sidebar-links h4 span{
    opacity: 0;
}

.sidebar:hover .sidebar-links h4 span{
    opacity: 1;
}

.sidebar-links h4{
    color: #fff;
    font-weight: 500;
    margin: 10px 0;
    white-space: nowrap;
    position: relative;
}

.sidebar-links .menu-separator {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
    transform: scaleX(1);
    transform: translateY(-50%);
    background: #12556b;
    transform-origin: right;
    transition-duration: 0.2s;
}

.sidebar:hover .sidebar-links .menu-separator{
    transition-delay: 0s;
    transform: scaleX(0);
}

.sidebar-links li a {
    display: flex;
    align-items: center;
    gap: 0 20px;
    color: #dbd4d4e3;
    font-weight: 500;
    padding: 15px 10px;
    white-space: nowrap;
    text-decoration: none;
    font-size: 0.8em;
}

.sidebar-links li a:hover {
    background: #ffffff2d;
    color: #fff;
    border-radius: 15px;
}

.sidebar:hover + .main-content {
    margin-left: 250px; 
    width: 70%;
}





@media (max-width: 768px) {
    .sidebar {
        width: 60px;
    }

    .sidebar:hover {
        width: 200px;
    }

    .main-content {
        margin-left: 100px; 
        width: calc(100% - 100px);
    }

    .sidebar:hover + .main-content {
        margin-left: 200px;
        width: calc(100% - 200px);
    }
}


.sticky-header h2 {
    font-size: 1.20rem;
    color: black;
    margin-bottom: 15px;
    margin-left: 35px;
}


.main-content {
    background-color: #ffffff;
    max-height: 100vh;
    width: 85%; 
    overflow: hidden; 
    border-radius: 15px;
    margin-left: 10%; 
    margin-top: 6%;
    padding: 20px;
    transition: margin-left 0.4s ease;
}


.reports-metrics {
    /* background-color: #ffffff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
    border-radius: 15px;
    transition: margin-left 0.4s ease;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
    /* padding: 20px 60px; */
    /* sa all */
    margin-left: 35px; 
    width:95%;
    height:10rem;
}

.sidebar:hover +.reports-metrics {
    width: 70%;
}

.metrics {
    display: flex;
    gap: 25px;
    
}
.metrics-group{
    display: flex;
    flex-direction: row;
    gap: 20px;
}


.metric-box {

    border: 1px solid black;
    padding: 35px  10px;
    width:17.7rem;
    height: 12rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex: 4;
}

.metric-box h6 {
     font-size: 1rem;
    color: black;
    /* margin-bottom: 10px; */
}

.metric-box .stat-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: black;
}

.icon-large {
    font-size: 35px; 
    
}

.date-controller {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-bottom: 12px;
}

.month-display {
    display: flex;
    gap: 6px;
    align-items: center;
}

.current-month {
    font-size: 15px;
    font-weight: 600;
}

.current-year {
    font-size: 14px;
    background: #f4f4f4;
    padding: 3px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s;
}

.current-year:hover {
    background: #e6e6e6;
}

.arrow {
    font-size: 20px;
    cursor: pointer;
    padding: 4px 8px;
    border-radius: 6px;
}

.arrow:hover {
    background-color: #eee;
}

/* YEAR POPUP */
.year-popup {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 8px;
    display: none;
    max-height: 200px;
    overflow-y: auto;
    width: 120px;
    z-index: 999;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.year-popup div {
    padding: 6px;
    cursor: pointer;
    border-radius: 5px;
}

.year-popup div:hover {
    background: #e8f0fe;
}

.room-types {
    margin-top: 8px;
    font-size: 0.8rem;
    color: black;
}

.room-types p {
    margin: 2px 0;
}

